.Pane 
{
    
    -fx-background-color: #000;


}

.ancorPane {


    -fx-background-color: rgb(4, 239, 247);


    


}

.button {


    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 20 20 20 20;
    -fx-font-weight: bold


}

.paneLogin {


    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 20 00 20 00;


}

.paneIntoLogin {


    -fx-background-color: rgb(0, 0, 0);
    -fx-background-radius: 20 00 00 00;


}

.PaneMenu
{
    
    -fx-background-color: rgb(97, 97, 97);

}

.buttonLogin {


    -fx-background-color: rgb(61, 61, 61);
    -fx-background-radius: 20 20 20 20;


}

.button:hover{
    -fx-background-color: rgb(181, 255, 255);

}

.imagemPane{
    -fx-background-image: url("perfil.png");
    -fx-background-repeat: stretch;
    -fx-background-size: contain;
    -fx-background-position: center;
}



